/* ---- particles.js container ---- */
html, body {
    height: 100%;
    color: #ffffff;
    text-align: center;
    font-family: raleway, 'open_sansregular', Helvetica, Arial, sans-serif;
}

#particles-js { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(41, 44, 47, 1); 
    /*background-color: rgb(85, 80, 220);*/
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%;
    top: 0;
    left: 0;
    pointer-events: none;
    } 

.is-loading {
  z-index: 100;
  position: relative;
}

/*toggle gradient*/
.toggle-grad {
        background: linear-gradient(#606c88, #3f4c6b);
}

a {
    text-align: center;
    width: 50%;
}

.fa-github, .fa-linkedin {
    font-size: 5rem;
    color: #ffffff;
}

/*page alignment*/

.center-on-page {
    padding-top: 25%;
}

.row {
    margin-bottom: 5rem;
}