/* nav bar */

#nav-bar li {
  display: inline-block;
  padding: 2rem 3rem 3rem 2rem;
  font-size: 2rem;
}

/*columns*/

.bottom_margin {
  margin-bottom: 10%;
}

/* Home */

.center {
  padding-left: 5%;
  padding-right: 5%;
}
/* footer nav */

#footer-nav {
  padding-top: 5%;
  margin: 0;
}

footer ul {
  text-align: center;
}

#footer-nav li {
  display: inline-block;
  padding: 2rem 3rem 3rem 2rem;
  font-size: 2rem;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
  .center {
    padding-left: 0%;
    padding-right: 5%;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .nav-text {
    display: inline-block;
  }

  #icon-home {
    display: none;
  }

  #icon-image {
    display: none;
  }

  #icon-pencil {
    display: none;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
