/*icons*/
.icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}


/* spinner */

.loading {
  background-color: transparent;
  border-radius: 50%;
  display: none;
  height: .5em;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 48%;
  width: .5em;
}
.loading {
  animation: loading 1s infinite;
  box-shadow: 1.2em 0 #fdd, 
              .5em 1em #fdd,
              -0.5em 1em #fdd,
              -1.2em 0 #fdd,
              -0.5em -1em #fdd,
              .5em -1em #fdd;
}
@keyframes loading {
  0% {
    box-shadow: 1.2em 0 0 .2em #f88, 
                .5em 1em #fdd,
                -0.5em 1em #fdd,
                -1.2em 0 #fdd,
                -0.5em -1em #fcc,
                .5em -1em #fbb;
  }
  16.666% {
    box-shadow: 1.2em 0 #fbb, 
                .5em 1em 0 .2em #f88,
                -0.5em 1em #fdd,
                -1.2em 0 #fdd,
                -0.5em -1em #fdd,
                .5em -1em #fcc;
  }
  33.332% {
    box-shadow: 1.2em 0 #fbb, 
                .5em 1em #faa,
                -0.5em 1em 0 .2em #f88,
                -1.2em 0 #fdd,
                -0.5em -1em #fdd,
                .5em -1em #fdd;
  }
  50% {
    box-shadow: 1.2em 0 #fdd, 
                .5em 1em #fbb,
                -0.5em 1em #faa,
                -1.2em 0 0 .2em #f88,
                -0.5em -1em #fdd,
                .5em -1em #fdd;
  }
  66.666% {
    box-shadow: 1.2em 0 #fdd, 
                .5em 1em #fdd,
                -0.5em 1em #fbb,
                -1.2em 0 #faa,
                -0.5em -1em 0 .2em #f88,
                .5em -1em #fdd;
  }
  83.333% {
    box-shadow: 1.2em 0 #fdd, 
                .5em 1em #fdd,
                -0.5em 1em #fdd,
                -1.2em 0 #fbb,
                -0.5em -1em #faa,
                .5em -1em 0 .2em #f88;
  }
  100% {
    box-shadow: 1.2em 0 0 .2em #f88, 
                .5em 1em #fdd,
                -0.5em 1em #fdd,
                -1.2em 0 #fdd,
                -0.5em -1em #fbb,
                .5em -1em #faa;
  }
}
